<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <span>
            <%= course.name %> 
            <%= course.image %> 
            <%= course.price %> 
        </span>
        <strong><%= course.name %></strong>
        
    </div>
    <div><a href="/addCourse/<%= course['_id'] %>">(add to schedule)</a></div>
    <div class="mb-1">
        name: <%=course['Developer']%>,
        price: <%=game['price']%>,
        image: <%= game['image'] %>
        <br>
     </div>
 
 </div>
 
 <hr>